.example-chip-list {
    width: 75%;
}
  
.landpageSearch {
    height: 75px;
   
}
  
.mrg {
    margin-left: 5%;
    font-size: 10px;
    color: #7dc246;
}

.pdng {
    /* margin-bottom: 5px; */
    padding-top: 0%;
}