<!-- <section>
  <div class="block no-padding newbg theme-layout">
    <div class="container fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-featured-sec">
            <div class="new-slide-3">
              <img src="./../../assets/images/resource/vector-4.png">
            </div>
            <div class="job-search-sec">
              <div class="job-search">
                <h3>The Easiest Way to Get Your New Job</h3>
                <span>Find Jobs, Employment & Career Opportunities</span>
                <form>
                  <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                      <div class="job-field">
                        <input type="text" placeholder="Job title, keywords or company name" />
                        <i class="la la-keyboard-o"></i>
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
                      <button type="submit"><i class="la la-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section>
  <div class="block no-padding">
    <div class="container fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="find-cand-sec">
            <div class="iconmove"><img class="animute" src="./../../assets/images/resource/iconmove.jpg" />
            </div>
            <div class="mockup-top"><img class="animute" src="./../../assets/images/resource/mockup.png" />
            </div>
            <div class="mockup-bottom"><img src="./../../assets/images/resource/mockup2.png" /></div>
            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <div class="find-cand">
                    <div class="pdng">
                      <div class="mrg">
                        <h4>Find Assignement</h4>
                      </div>
                      <form class="landpageSearch">
                        <mat-form-field class="example-chip-list">
                          <mat-chip-list #chipList>
                            <mat-chip *ngFor="let skill of skills" [selectable]="selectable" [removable]="removable"
                              (removed)="removeSkl(skill)">
                              {{skill.skill}}
                              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Search project skills (e.g. angular node.js)"
                              [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                              [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addSkl($event)">
                          </mat-chip-list>
                        </mat-form-field>
                        <button type="submit"><i class="la la-search"></i></button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="scroll-to style2">
                   <a href="#scroll-here" title=""><i class="la la-arrow-down"></i></a>
                </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="block">
    <div data-velocity="-.1"
      style="background: url(assets/images/resource/parallax5.jpg) repeat scroll 50% 422.28px transparent;"
      class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="heading">
            <h2>Featured Projects</h2>
            <span>Leading Employers already using job and talent.</span>
          </div><!-- Heading -->
          <div class="job-listings-sec">
            <div class="job-listing rounded">
              <div class="job-title-sec">
                <div class="c-logo"> <img src="./../../assets/images/resource/l1.png" alt="" /> </div>
                <h3><a href="#" title="">Web Designer / Developer</a></h3>
                <span>Massimo Artemisis</span>
              </div>
              <span class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</span>
              <span class="fav-job"><i class="la la-heart-o"></i></span>
              <span class="job-is ft">FULL TIME</span>
            </div><!-- Job -->
            <div class="job-listing rounded">
              <div class="job-title-sec">
                <div class="c-logo"> <img src="./../../assets/images/resource/l2.png" alt="" /> </div>
                <h3><a href="#" title="">Marketing Director</a></h3>
                <span>Tix Dog</span>
              </div>
              <span class="job-lctn"><i class="la la-map-marker"></i>Rennes, France</span>
              <span class="fav-job"><i class="la la-heart-o"></i></span>
              <span class="job-is pt">PART TIME</span>
            </div><!-- Job -->
            <div class="job-listing rounded">
              <div class="job-title-sec">
                <div class="c-logo"> <img src="./../../assets/images/resource/l3.png" alt="" /> </div>
                <h3><a href="#" title="">C Developer (Senior) C .Net</a></h3>
                <span>StarHealth</span>
              </div>
              <span class="job-lctn"><i class="la la-map-marker"></i>London, United Kingdom</span>
              <span class="fav-job"><i class="la la-heart-o"></i></span>
              <span class="job-is ft">FULL TIME</span>
            </div><!-- Job -->
          </div>
        </div>
        <div class="col-lg-12">
          <div class="browse-all-cat green">
            <a href="#" title="" class="rounded">Load more listings</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="block gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="heading">
            <h2>Top Company Registered</h2>
            <span>Some of the companies we've helped recruit excellent applicants over the years.</span>
          </div><!-- Heading -->
          <div class="top-company-sec">
            <div class="row" id="companies-carousel">
              <!-- <div class="col-lg-3">
                <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
                  <ng-template ngbSlide *ngFor="let image of images">
                    <img [src]="image" alt="Random slide">
                    <div class="carousel-caption">
                    </div>
                  </ng-template>
                </ngb-carousel>
              </div> -->
              <div class="col-lg-3">
                <div class="top-compnay style2">
                  <img src="./../../assets/images/resource/tc1.jpg" alt="" />
                  <h3><a href="#" title="">Symtech</a></h3>
                  <span>United States, Los Angeles</span>
                  <a href="#" title="">4 Open Positon</a>
                </div><!-- Top Company -->
              </div>
              <div class="col-lg-3">
                <div class="top-compnay style2">
                  <img src="./../../assets/images/resource/tc2.jpg" alt="" />
                  <h3><a href="#" title="">Symtech</a></h3>
                  <span>United States, Los Angeles</span>
                  <a href="#" title="">4 Open Positon</a>
                </div><!-- Top Company -->
              </div>
              <div class="col-lg-3">
                <div class="top-compnay style2">
                  <img src="./../../assets/images/resource/tc3.jpg" alt="" />
                  <h3><a href="#" title="">Symtech</a></h3>
                  <span>United States, Los Angeles</span>
                  <a href="#" title="">4 Open Positon</a>
                </div><!-- Top Company -->
              </div>
              <div class="col-lg-3">
                <div class="top-compnay style2">
                  <img src="./../../assets/images/resource/tc4.jpg" alt="" />
                  <h3><a href="#" title="">Symtech</a></h3>
                  <span>United States, Los Angeles</span>
                  <a href="#" title="">4 Open Positon</a>
                </div><!-- Top Company -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="block remove-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="heading mrgTop">
            <h2>How It Works</h2>
            <span>Each month, more than 7 million Jobhunt turn to website in their search for work, making over
              <br />160,000 applications every day.
            </span>
          </div><!-- Heading -->
          <div class="how-to-sec style2">
            <div class="how-to">
              <span class="how-icon"><i class="la la-user"></i></span>
              <h3>Register an account</h3>
              <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
            </div>
            <div class="how-to">
              <span class="how-icon"><i class="la la-file-archive-o"></i></span>
              <h3>Specify & search your job</h3>
              <p>Browse profiles, reviews, and proposals then interview top candidates. </p>
            </div>
            <div class="how-to">
              <span class="how-icon"><i class="la la-list"></i></span>
              <h3>Apply for job</h3>
              <p>Use the Upwork platform to chat, share files, and collaborate from your desktop or on the go.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>