<section>
  <div class=" no-padding">
    <div class="container">
      <div class="row no-gape">
        <aside class="col-lg-3  border-right">
          <div class="widget">
            <div class="tree_widget-sec">
              <ul>
                <li><a routerLink="/freelancer/viewProfilFreel"><i class="la la-briefcase"></i>My Profil</a></li>
                <li><a routerLink="/freelancer/editProfilFreel"><i class="la la-file-text"></i>Edit Profil</a></li>
                <li><a routerLink="/freelancer/listFreelProj"><i class="la la-paper-plane"></i>Applied Project</a></li>
                <li><a routerLink="/freelancer/listAllProj"><i class="la la-user"></i>All Projects</a></li>
                <li><a routerLink="/freelancer/changePwrdFreel"><i class="la la-flash"></i>Change Password</a></li>
                <li><a (click)="logOut()"><i class="la la-unlink"></i>Logout</a></li>
              </ul>
            </div>
          </div>
        </aside>
        <div class="col-lg-9 ">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>