<div class="modal-header">
  <div>
    <mat-card-title class="title">Register</mat-card-title>
    <mat-card-subtitle>Become a member, register now</mat-card-subtitle>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <mat-card class="mycard">
    <button mat-button class="btn1" (click)="openCompModal()">As Company</button>
  <div class="extra-login">
    <span>Or</span>
  </div>
  <button mat-button class="btn2" (click)="openFreelModal()">As Freelancer</button>
  </mat-card>
</div>




<!-- <mat-card class="example-card">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <mat-card-title>Register As</mat-card-title>
      </div>
      <div class="col-md-2">
        <button mat-button mat-dialog-close (click)="onNoClick()">X</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <button mat-button (click)="openFreelModal()">Freelancer</button>
      </div>
      <div class="col-md-2">
        <mat-divider [vertical]="true"></mat-divider>OR
      </div>
      <div class="col-md-5">
        <button mat-button (click)="openCompModal()">Company</button>
      </div>
    </div>
  </div>
</mat-card> -->