<mat-accordion>
  <div *ngFor="let project of projects" class="mrg">
    <div *ngIf="project?.status === 'waiting'">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

        <mat-expansion-panel-header>
          <mat-panel-title>
            {{project?.titleProject}}
          </mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item *ngFor="let offer of project?.applied_freelancers">
            <a (click)="openLg(content, offer?.id_freelancer?._id)"> {{offer?.id_freelancer?.firstName}}
              {{offer?.id_freelancer?.lastName}} </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            $ {{offer?.offer}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-button (click)="accept_Offer(project?._id, offer?.id_freelancer?._id)">Accept</button>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </div>
  </div>
</mat-accordion>


<!--    Modal Details Freelancer    -->
<ng-template #content let-modal>
  <div *ngFor="let freel of freels">
    <div class="modal-header">
      <h4 class="modal-title">Profil Freelancer</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-7">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title> {{freel?.firstName}} {{freel?.lastName}} </mat-card-title>
                <mat-card-subtitle>Rate: {{freel?.rateWork}} </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <h6>Skills:</h6>
                      <div *ngFor="let skil of freel?.skills">{{skil?.skill}}</div>
                    </div>
                    <div class="col-md-6">
                      <h6>Languages: </h6>
                      <div *ngFor="let lgge of freel?.languages">{{lgge?.language}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h6>Links:</h6>
                      <a routerLink="{{freel?.fb_link}}"><i class="fab fa-facebook-square fa-2x"></i></a>&nbsp;
                      <a routerLink="{{freel?.linkedIn_link}}"><i class="fab fa-linkedin fa-2x"></i></a>&nbsp;
                      <a routerLink="{{freel?.gitHub_link}}"><i class="fab fa-github-square fa-2x"></i></a>&nbsp;
                      <a routerLink="{{freel?.portFolio_link}}"><i class="fas fa-laptop-code fa-2x"></i></a>&nbsp;
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-5">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>Chat Box</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="msg_history">
                  <div *ngFor="let message of listeMessages">
                    <div *ngIf="message.sender !== idComp" class="incoming_msg">
                      <div class="incoming_msg_img">
                        <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                      </div>
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p>{{message.content}}</p>
                          <span class="time_date">{{message.createdDate | date}}</span>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="message.sender === idComp" class="outgoing_msg">
                      <div class="sent_msg">
                        <p>{{message.content}}</p>
                        <span class="time_date">{{message.createdDate | date}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <form [formGroup]="chatForm">
                  <input type="text" class="write_msg" formControlName="content" placeholder="Type your message...">
                </form>
                <button class="msg_send_btn" type="button" (click)="sendMessage(chatForm.value)"><i
                    class="far fa-paper-plane"></i></button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>