<mat-toolbar color="primary">
   <mat-toolbar-row class="hgt">
      <span>
         <div class="res-logo">
            <a routerLink="/landingPage/home">
               <img src="./../../assets/images/resource/logo4.png" alt="" />
            </a>
         </div>
      </span>
      <span class="spacer"></span>
      <a mat-button routerLink="/landingPage/register">REGISTER</a>
      <a mat-button routerLink="/landingPage/login">LOGIN</a>
      <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
         <button mat-menu-item routerLink='/landingPage/chat'>Chat</button>
      </mat-menu> -->
   </mat-toolbar-row>
</mat-toolbar>